<section class="Banner">
  <div class="Banner__inner container">
    <div class="Banner__content">
      <h1 class="Banner__heading" id="white">Call your friends and wander on a lama</h1>
      <p class="Banner__leading">Find and rent the perfect lama. Driver is optional.</p>
    </div>
  </div>
</section>
